@model P3ImageApp.Models.Tab_Subcategoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Tab_Subcategoria</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idsubcategoria)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idsubcategoria)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tab_Categoria.descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tab_Categoria.descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.slug)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.slug)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
