@model PagedList.IPagedList<P3ImageApp.Models.Tab_Categoria>
@using PagedList.Mvc;
<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Código")
                </th>
                <th>
                    @Ajax.ActionLink("Descrição", "Busca", new { sortOrder = "Descrição", currentFilter = ViewBag.CurrentFilter, page = Model.PageNumber }, new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnBegin = "$('#myModal').modal('show');",
                        OnComplete = "$('#myModal').modal('hide');",
                        OnFailure = "alert('Falha')",
                        UpdateTargetId = "gridInterno",
                        InsertionMode = InsertionMode.Replace
                    })
                </th>
                <th>
                    @Ajax.ActionLink("Slug", "Busca", new { sortOrder = "Slug", currentFilter = ViewBag.CurrentFilter, page = Model.PageNumber }, new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnBegin = "$('#myModal').modal('show');",
                        OnComplete = "$('#myModal').modal('hide');",
                        OnFailure = "alert('Falha')",
                        UpdateTargetId = "gridInterno",
                        InsertionMode = InsertionMode.Replace
                    })
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idcategoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.slug)
                    </td>
                    <td>
                        @Html.ActionLink("Alterar", "Edit", new { id = item.idcategoria }, new { @class = "btn btn-info btn-xs" })
                        @Html.ActionLink("Apagar", "Delete", new { id = item.idcategoria }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Busca",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                                  PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions
                                  {
                                      HttpMethod = "POST",
                                      OnBegin = "$('#myModal').modal('show');",
                                      OnComplete = "$('#myModal').modal('hide');",
                                      OnFailure = "alert('Falha')",
                                      UpdateTargetId = "gridInterno",
                                      InsertionMode = InsertionMode.Replace
                                  }))
</div>
